In [2]:
import pandas as pd
import numpy as np
from glob import glob

In [3]:
glob("*.csv")

['vertebral_column.csv',
 'lrs.csv',
 'algerian_forest_fires.csv',
 'seeds.csv',
 'ionosphere.csv',
 'breast.csv',
 'glass.csv',
 'ecoli.csv',
 'iris.csv']

In [4]:
# GIA PRESENTE

df = pd.read_csv('vertebral_column.csv')

print(df.shape)

df

(310, 7)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,label
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,1
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,1
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,1
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,1
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,1
...,...,...,...,...,...,...,...
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,0
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,0
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,0
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,0
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,0

In [5]:
# TROPPE COLONNE

df = pd.read_csv('lrs.csv')

print(df.shape)

df

(531, 101)

,right_ascension,declination,scale_factor,blue_base_1,blue_base_2,red_base_1,red_base_2,flux_blue_0,flux_blue_1,flux_blue_2,...,flux_red_40,flux_red_41,flux_red_42,flux_red_43,flux_red_44,flux_red_45,flux_red_46,flux_red_47,flux_red_48,label
0,12.073,-62.428,1.250000e-16,2498,2630.0,1740.0,1783.0,4119.1675,4897.2990,4163.9690,...,2039.33590,1891.61340,1040.11570,1211.53580,1767.62330,1146.94710,1392.47450,1278.99450,1440.48200,1
1,12.106,-62.987,2.970000e-16,1086,1241.0,421.0,674.0,7660.9990,7906.7840,7821.8984,...,7056.40530,6817.42970,6682.79440,6988.59770,7084.03600,6971.78300,7015.57470,6962.22000,6263.44000,7
2,12.123,-62.554,3.130000e-15,481,270.0,63.0,451.0,3196.4287,3013.9722,3003.1490,...,6998.41550,6669.61100,6551.05900,6679.77150,6564.26300,6309.63960,5954.38800,5337.88870,4638.52440,8
3,12.247,-67.683,1.730000e-15,191,232.0,103.0,103.0,26028.4510,23706.8140,21255.0660,...,507.43262,446.32816,417.10430,454.29834,448.98490,459.61176,409.13416,366.62670,332.08942,0
4,12.360,-62.303,2.180000e-16,1401,1268.0,1042.0,1063.0,15835.3850,15097.6970,14774.4180,...,664.50507,909.68350,837.53380,862.60760,693.25110,890.75964,473.78302,658.46140,725.74945,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,23.819,62.732,2.220000e-16,1315,1495.0,843.0,810.0,14111.7340,14462.1270,15572.4560,...,883.77320,998.42004,735.88940,1088.73080,687.22630,686.34280,934.49110,933.59190,501.37790,3
527,23.827,61.526,1.250000e-15,238,280.0,99.0,142.0,8702.8700,8777.9060,9042.6650,...,1423.84380,1320.31090,1279.61380,1284.83720,1236.90540,1208.31240,1203.89100,1099.19290,1037.99740,1
528,23.881,48.360,5.740000e-16,577,568.0,416.0,431.0,15375.6040,14542.2330,13849.1630,...,1025.80850,795.37830,767.25446,802.76160,843.16656,642.11680,824.46655,703.36536,649.15760,1
529,23.902,70.526,4.120000e-16,995,1177.0,463.0,398.0,11814.4600,12896.9450,13033.3150,...,1970.82130,1748.14440,1757.16270,1724.30970,1721.34130,1546.44600,1677.99240,1601.73520,1470.15520,2
530,23.941,-56.854,4.840000e-16,562,640.0,309.0,339.0,14268.0370,12925.0450,12433.2980,...,951.77560,881.81370,797.37744,795.00860,757.24786,695.35840,702.66327,681.01196,670.62964,1

In [9]:
# OK

df = pd.read_csv('algerian_forest_fires.csv')
df.drop(columns=['year'], inplace=True)

print(df.shape)

df

(243, 13)

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,label
0,1,6,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,1
1,2,6,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,1
2,3,6,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,1
3,4,6,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,1
4,5,6,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,26,9,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,0
239,27,9,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,1
240,28,9,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,1
241,29,9,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,1
242,30,9,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,1

In [12]:
# OK

df = pd.read_csv('seeds.csv')

print(df.shape)

df

(210, 8)

        V1     V2      V3     V4     V5     V6     V7  label
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220      0
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956      0
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825      0
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805      0
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175      0
..     ...    ...     ...    ...    ...    ...    ...    ...
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870      2
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003      2
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056      2
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044      2
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063      2

[210 rows x 8 columns]

In [13]:
# GIA PRESENTE

df = pd.read_csv('ionosphere.csv')

print(df.shape)

df

(351, 35)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,label
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,1
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,1
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,1
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,1
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,1

In [14]:
# GIA PRESENTE

df = pd.read_csv('breast.csv')

print(df.shape)

df

(569, 31)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,label
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1

In [15]:
# OK

df = pd.read_csv('glass.csv')

print(df.shape)

df

(214, 10)

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  label
0    1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.0  0.00      0
1    1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.0  0.00      5
2    1.51793  13.21  3.48  1.41  72.64  0.59   8.43  0.0  0.00      0
3    1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.0  0.00      4
4    1.53393  12.30  0.00  1.00  70.16  0.12  16.19  0.0  0.24      1
..       ...    ...   ...   ...    ...   ...    ...  ...   ...    ...
209  1.51610  13.42  3.40  1.22  72.69  0.59   8.32  0.0  0.00      5
210  1.51592  12.86  3.52  2.12  72.66  0.69   7.97  0.0  0.00      1
211  1.51613  13.92  3.52  1.25  72.88  0.37   7.94  0.0  0.14      1
212  1.51689  12.67  2.88  1.71  73.21  0.73   8.54  0.0  0.00      1
213  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.0  0.00      4

[214 rows x 10 columns]

In [16]:
# OK

df = pd.read_csv('ecoli.csv')

print(df.shape)

df

(336, 8)

      mcg   gvh   lip  chg   aac  alm1  alm2  label
0    0.49  0.29  0.48  0.5  0.56  0.24  0.35      0
1    0.07  0.40  0.48  0.5  0.54  0.35  0.44      0
2    0.56  0.40  0.48  0.5  0.49  0.37  0.46      0
3    0.59  0.49  0.48  0.5  0.52  0.45  0.36      0
4    0.23  0.32  0.48  0.5  0.55  0.25  0.35      0
..    ...   ...   ...  ...   ...   ...   ...    ...
331  0.74  0.56  0.48  0.5  0.47  0.68  0.30      7
332  0.71  0.57  0.48  0.5  0.48  0.35  0.32      7
333  0.61  0.60  0.48  0.5  0.44  0.39  0.38      7
334  0.59  0.61  0.48  0.5  0.42  0.42  0.37      7
335  0.74  0.74  0.48  0.5  0.31  0.53  0.52      7

[336 rows x 8 columns]

# Big Dataset

In [17]:
glob("big/*.csv")

['big/house.csv',
 'big/compas.csv',
 'big/MagicTelescope.csv',
 'big/steel_plates_faults.csv',
 'big/road-safety.csv',
 'big/covertype.csv',
 'big/eye.csv',
 'big/sylvine.csv',
 'big/bank-marketing.csv',
 'big/spambase.csv',
 'big/pol.csv']

['big/house.csv',                  #già presente
 'big/compas.csv',                 #già presente
 'big/MagicTelescope.csv',         #ok
 'big/steel_plates_faults.csv',    #troppe? 1941*28
 'big/road-safety.csv',            #troppe? 2000*30
 'big/covertype.csv',              #ok
 'big/eye.csv',                    #ok? (2k*21)
 'big/sylvine.csv',                #ok? (2k*21)
 'big/bank-marketing.csv',         #ok 2k*8
 'big/spambase.csv',               #troppo grande 4601*58
 'big/pol.csv'].                   #troppo grande 2k*27

In [38]:
# OK

df = pd.read_csv('big/eye.csv')

print(df.shape)

df

(2000, 21)

,lineNo,assgNo,prevFixDur,firstfixDur,firstPassFixDur,nextFixDur,firstSaccLen,lastSaccLen,prevFixPos,landingPos,...,totalFixDur,meanFixDur,regressLen,regressDur,pupilDiamMax,pupilDiamLag,timePrtctg,titleNo,wordNo,label
0,3703.0,116.0,199.0,239.0,477.0,139.0,258.0484,749.3659,164.5509,118.9033,...,477.0,159.0,0.0,0.0,0.3121,0.2776,0.1177,3,5,0
1,2889.0,88.0,0.0,179.0,179.0,199.0,0.0000,172.0966,0.0000,2.0616,...,179.0,179.0,0.0,0.0,-0.3803,0.6157,0.0278,3,2,0
2,9387.0,291.0,139.0,119.0,119.0,219.0,252.5124,275.5367,205.4069,60.7824,...,119.0,119.0,0.0,0.0,0.2122,0.2497,0.0186,3,3,1
3,3498.0,108.0,199.0,179.0,179.0,119.0,488.5064,772.2288,444.1362,41.9076,...,179.0,179.0,0.0,0.0,0.2548,0.1708,0.0344,1,7,1
4,5520.0,165.0,139.0,179.0,318.0,179.0,115.9062,282.0217,178.2274,64.9038,...,318.0,159.0,0.0,318.0,0.0530,0.0445,0.0332,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7180.0,219.0,219.0,139.0,139.0,179.0,52.9741,188.2817,97.8621,59.4138,...,139.0,139.0,0.0,0.0,0.6561,0.6561,0.0221,10,1,1
1996,9743.0,300.0,179.0,179.0,179.0,139.0,148.5673,49.9124,205.0610,58.0452,...,99.0,99.0,0.0,99.0,0.0885,0.3510,0.0309,4,1,1
1997,3873.0,124.0,278.0,80.0,240.0,99.0,84.2170,93.4077,123.4058,104.2929,...,398.0,398.0,0.0,0.0,-0.0072,0.1143,0.0530,6,1,1
1998,466.0,14.0,179.0,179.0,179.0,278.0,360.0559,692.9939,265.0019,96.0169,...,179.0,179.0,0.0,0.0,0.1523,0.1613,0.0211,4,6,0
1999,7166.0,219.0,179.0,80.0,219.0,80.0,124.1934,190.3004,77.3886,49.0102,...,219.0,109.5,219.0,0.0,0.0596,0.0781,0.0348,7,3,0